[Unit]
Description=Tapedrive RPC cache proxy
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory={{WORKING_DIR}}
ExecStart={{WORKING_DIR}}/bin/rpc-cache --config {{WORKING_DIR}}/rpc-cache.yaml
Restart=on-failure
RestartSec=3s
LimitNOFILE=65536
Environment=RUST_LOG=info

[Install]
WantedBy=multi-user.target
