/target
*/**/target
/grind
/deploy

# tape-network operator state
/settings.yaml
/work/
/.env

/test-ledger
*/**/test-ledger
/db_tapestore*

/*.json

.DS_Store
*/**/.DS_Store

.vscode
.codebase-index

.tmp/

1gb_file.bin
